*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 105vh;
    position: relative;

}

#home{
   background-color: #59405C;
}

#about{
     background-color: #ED6663;
}

h1{
    position: absolute;
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: #fff;
}

h2{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 10px;
  margin-right: 10px;

}

.math{
  margin-left:190px;
  margin-top:100px;
}
